<!DOCTYPE HTML>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
  <title>Food</title>
</head>

<body>

  <div id="app">
    <totalizer></totalizer>
    <ul class="alimenti selected">
      <alimento-item
        v-for="item in alimenti.selected"
        v-bind:alimento="item">
      </alimento-item>
    </ul>
    <ul class="alimenti">
      <alimento-item
        v-for="item in alimenti.unselected"
        v-bind:alimento="item">
      </alimento-item>
    </ul>
    <div id="suggested" v-bind:class="{ open: isOpen }">
      <div class="suggested-buttons">
        <div class="button suggestion" v-on:click="isOpen = !isOpen">HELP ME</div>
      </div>
      <ul class="alimenti suggested">
        <alimento-item
          v-for="item in alimenti.suggested"
          v-bind:alimento="item">
        </alimento-item>
      </ul>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.blockspring.com/blockspring.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <script type="text/javascript" src="foodApp.js"></script>

</body>

</html>
