/*
 * aquamarine #5dfdcb
 * maya blue #7cc6fe
 * alice blue f4faff
 * ube #8789c0
 * smoky black #08090a
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Source Sans Pro', sans-serif;
        color: #353b42;
        background-color: #f4faff;
        margin: 0;
        padding: 0;
}

a:link, a:visited {
        color: #353b42;
        text-decoration: none;
}
a:hover, a:active {
        color: #353b42;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
.button {
        padding: 10px;
        margin:5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.button:hover {
	cursor: pointer;
}

#totalizer {
        width: 100%;
        height: 160px;
	padding: 10px;
	text-align: center;
        position: fixed;
        top: 0;
        left 0;
        z-index: 99;
        /*background-color: #f4faff;*/
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

#calorie {
        color: #8789c0;
        font-width: bold;
}

#graph {
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin: 0;
}
#graph>.graph {
        height: 3rem;
        border-radius: 2px;
        background-color: #f3f3f3;
        margin: 0;
}
#graph-reference {
        height: 5px;
        border-radius: 2px;
        background-color: #f3f3f3;
        margin: 0;
}

#graph span {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        float: left;
        font-weight: bold;
        width: 0%;
        transition: width 0.5s;
        /*padding: 10px;*/
}

#graph-legend {
        text-align: right;
        margin: 1rem 0rem 3rem 0rem;
}
#graph-legend span {
        display: inline-block;
        font-size: 0.7rem;
        padding: 4px;
        border-radius: 2px;
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

#graph-proteine,
#graph-proteine-legend {
        background-color: #5bc0eb;
}
#graph-lipidi,
#graph-lipidi-legend {
        background-color: #fa7921;
}
#graph-carboidrati,
#graph-carboidrati-legend {
        background-color: #fde74c;
}
#graph-fibra,
#graph-fibra-legend {
        background-color: #9bc53d;
}
#graph-proteine-reference {
        background-color: #4a9cbf;
}
#graph-lipidi-reference {
        background-color: #e56d1d;
}
#graph-carboidrati-reference {
        background-color: #efdc47;
}
#graph-fibra-reference {
        background-color: #8bb237;
}

#composizione {
	margin: 10px;
	padding: 10px;
	text-align: center;
	letter-spacing: 2.5rem;
	line-height: 5rem;
        color: #8789c0;
}
#composizione>div {
        display: inline-block;
	text-align: center;
	letter-spacing: normal;
	line-height: normal;
}


.alimenti {
	padding: 0;
	margin: 0;
	list-style: none;
}
.alimenti.selected {
        margin-top: 176px;
}
.alimento-item {
        margin: 16px;
	padding: 10px 8px 8px 20px;
        background-color: #7cc6fe;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position: relative;
}
.alimento-item .descrizione {
    margin: 0;
}
.alimento-item p {
    margin: 0 0 10px 0;
}
.alimento-item .descrizione:first-letter,
.alimento-item p:first-letter {
    text-transform: capitalize;
}
.alimento-item>.config {
        /*position: absolute;*/
        /*bottom: 10px;*/
        /*right: 10px;*/
        text-align: right;
}
.alimento-item .plus,
.alimento-item .minus {
    text-align: center;
    display: inline-block;
    width: 30px;
}
.alimento-item .add {
    color: #8789c0;
    background-color: #e6ebe0
}
.alimento-item .plus {
    margin-left: 2px;
    background-color: #8789c0;
    color: #f4faff
}
.alimento-item .minus {
    margin-right: 2px;
    background-color: #8789c0;
    color: #f4faff
}

.alimento-item.selected {
	background-color: #5dfdcb;
}
.alimento-item.selected .add {
    background-color: #8789c0;
    color: #f4faff
}

.alimento-graph {
        height: 1rem;
        width: 40%;
        border-radius: 2px;
        margin: 0;
}

.alimento-graph span {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        float: left;
        font-weight: bold;
        width: 0%;
        /*padding: 10px;*/
}

.alimento-graph-proteine {
        background-color: #5bc0eb;
}
.alimento-graph-lipidi {
        background-color: #fa7921;
}
.alimento-graph-carboidrati {
        background-color: #fde74c;
}
.alimento-graph-fibra {
        background-color: #9bc53d;
}

#suggested {
        position: fixed;
        bottom: -168px;
        left: 0;
        width: 100%;
        height: 222px;
        transition: bottom 0.3s ease;
        background-color: white;
        border-top: 1px solid lightgray;
        z-index: 999;
        white-space: nowrap;
        overflow-x: scroll;
        padding-top: 38px;
}
#suggested.open {
        bottom: 0px;
}
.suggested-buttons {
        text-align: center;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
}
.button.suggestion {
        display: inline-block;
        text-align: center;
        background-color: #fa7921;
        color: white;
}
